<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Stay On Course</title>
    <!-- ANGULARS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script> -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
    <!-- Bootstrap latest css-->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Ui router and app instatiation -->
    <script src='/app.js'></script>
    <!-- Factories -->
    <script src='./angular/factories/postFactory.js'></script>
    <script src='./angular/factories/authFactory.js'></script>
    <script src='./angular/factories/storageFactory.js'></script>
    <script src="./static/js/states.js"></script>
    <!-- Controllers -->
    <script src='./angular/controllers/mainController.js'></script>
    <script src='./angular/controllers/loginController.js'></script>
    <script src='./angular/controllers/authController.js'></script>
    <script src='./angular/controllers/jobSearchController.js'></script>
    <!-- CSS -->
    <link rel="stylesheet" href="./static/css/main.css" media="screen" charset="utf-8">
    <!-- Bower Components -->
    <script src="./bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="./bower_components/ngToast/dist/ngToast.min.js"></script>
    <link rel="stylesheet" href="./bower_components/ngToast/dist/ngToast-animations.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="./bower_components/ngToast/dist/ngToast.css" media="screen" charset="utf-8">
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="./bower_components/ui-navbar/release/js/ui-navbar.js"></script>
    <script src="./bower_components/angular-auto-validate/dist/jcs-auto-validate.js"></script>
    <script src="./bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <!-- Other addons -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div>
      <nav ng-show="isLoggedIn()" ng-controller="NavCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller='mainController'>
        <div class="container-fluid">
          <!-- Responsive NavBar -->

          <div class="navbar-header">
            <h2 class="pull-left navbar-toggle" style="color: white;" ng-init="navCollapsed = true">Stay On Course</h2>
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <i style="color: white;" class="fa fa-bars fa-2x"></i>
            </button>
          </div>

          <!-- Responsive Navbar End -->


          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">

              <li><a href="#jobSearch" du-smooth-scroll><i class="fa fa-search"></i>  Job Search</a></li>
              <li ng-controller='mainController'><a ng-click="scrollTop()">Back to top</a></li>

              <!-- Dropdown -->
              <!-- <li uib-dropdown="">
                <a href="#" uib-dropdown-toggle="">Dropdown<b class="caret"></b></a>
                <tree tree="tree"></tree>
              </li> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a><span class="glyphicon glyphicon-user"></span>  {{ currentUser() }}</a></li>
              <li><a href="" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            </ul>

          </div>
        </div>


      </nav>
      <div class='container-fluid' ui-view>

      </div>
    </div>
  </body>
</html>



<script type="text/ng-template" id="postForm.html">
        <div class="modal-header">
            <h3 class="modal-title">Post a sticky</h3>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="job_title">Job Title:</label>
              <input class="form-control" type="text" ng-model="newPost.job_title">
            </div>
            <div class="form-group">
              <label for="company_name">Company:</label>
              <input class="form-control" type="text" ng-model="newPost.company_name">
            </div>
            <div class="form-group">
              <label for="location">Location:</label>
              <input class="form-control" type="text" ng-model="newPost.location">
            </div>
            <div class="form-group">
              <label for="salary">Prospective Salary:</label>
              <input class="form-control" type="text" ng-model="newPost.salary">
            </div>
            <div class="form-group">
              <label for="url">URL:</label>
              <input class="form-control" type="text" ng-model="newPost.url">
            </div>
            <div class="form-group">
              <label for="status">Status:</label>
              <select class="form-control" ng-init="newPost.status = options[0]" ng-model="newPost.status" ng-options="option for option in options">
              </select>
            </div>
            <div class="form-group">
              <label for="notes">Notes:</label>
              <textarea class="form-control" rows="5" ng-model="newPost.notes"></textarea>
            </div>
          </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submitPost()"><span class="glyphicon glyphicon-pushpin"></span></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>

<script type="text/ng-template" id="editForm.html">
        <div class="modal-header">
            <h3 class="modal-title">{{newPost.job_title}}</h3>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="job_title">Job Title:</label>
              <input class="form-control" type="text" ng-model="newPost.job_title">
            </div>
            <div class="form-group">
              <label for="company_name">Company:</label>
              <input class="form-control" type="text" ng-model="newPost.company_name">
            </div>
            <div class="form-group">
              <label for="location">Location:</label>
              <input class="form-control" type="text" ng-model="newPost.location">
            </div>
            <div class="form-group">
              <label for="salary">Prospective Salary:</label>
              <input class="form-control" type="text" ng-model="newPost.salary">
            </div>
            <div class="form-group">
              <label for="url">URL:</label>
              <input class="form-control" type="text" ng-model="newPost.url">
            </div>
            <div class="form-group">
              <label for="notes">Notes:</label>
              <textarea class="form-control" rows="5" ng-model="newPost.notes"></textarea>
            </div>
          </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="updatePost()"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>
