body{
	margin:0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}
.shift_padding{
	padding-top:50px
}
.border{
	border: red 1px solid;
}
.results{
	height: 70vh;
	overflow: scroll;
}

ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #7A9CC6;
    min-height: 50px;
}

ul[dnd-list] li {
    background-color: #FFFFA5;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
.postPage{
	height: auto;
	min-height: 98vh;
	width: 100vw;
	background-image: url("../images/wb.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.jobPage{
	height: 100vh;
	width: 100vw;
	background-image: url("../images/cork.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.inline{
	display: inline;
}
.plusMargin{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}
.plusMargin:hover{
	cursor: pointer;
}
.jobBoard{
	background-color:white;
	opacity:0.9;
}

.jobpanels{
	animation-duration: 4s;
	animation-delay: 0s;
}
#loginPage{
	height: 100vh;
	width: 100vw;
	padding-top: 5%;
	background-image: url("../images/main.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#login_form{
	color:white;
}

#registration_form{
	color:white;
}

#loginlink{
	color:white;
}
